@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Ma+Shan+Zheng&family=ZCOOL+XiaoWei&display=swap');
/* font-family: 'Ma Shan Zheng', cursive; */ 
/* font-family: 'Long Cang', cursive;*/ 
/* font-family: 'ZCOOL XiaoWei', serif;*/ 
.App {
  text-align: left;
}

.App-word {
  font-size: 18px;
  margin: 16px;
  padding: 26px;
  font-family: 'ZCOOL XiaoWei', serif;
  text-align: left;
}
.App-word-zh {
  font-size: calc(250px + 2vmin);
  margin-bottom: 320px;
  max-height: 2vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
