.App {
  text-align: center;
}

.App-word {
  font-size: calc(50px + 2vmin);
  margin: 12px;
  
}
.App-word-zh {
  font-size: calc(250px + 2vmin);
  margin-bottom: 320px;
  max-height: 2vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
